<!DOCTYPE html>
<html>
<head>
    <title>Buscar Productos</title>
</head>
<body>
    <h1>Buscar Productos</h1>
    <form method="post" action="{% url 'searchProduct' %}">
        {% csrf_token %}
        <input type="text" name="search_text" placeholder="Buscar por nombre de producto">
        <button type="submit">Buscar</button>
    </form>

    <!-- Mostrar los resultados aquí -->
    {% if results %}
    <h2>Resultados:</h2>
    <ul>
        {% for product in results %}
        <li>
            <strong>Nombre del Producto:</strong> {{ product.nombre_producto }}<br>
            <strong>Descripción:</strong> {{ product.descripcion_producto }}<br>
            <strong>Precio:</strong> {{ product.precio }}<br>
            <!-- Agrega otros campos que desees mostrar -->
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No se encontraron resultados.</p>
    {% endif %}
</body>
</html>
